
@{
    ViewBag.Title = "Index";
}

<div style="margin: 0 auto;padding:5px 8%;">
    <h2>Courses</h2>
    <br />
    <br />
    <h3>Computing Program</h3>
    <li>@Html.ActionLink("Enterprise Web Software Development", "Index", "UploadFIleIT")</li>
</div>

