
@{
    ViewBag.Title = "IndexBus";
}

<div style="margin: 0 auto;padding:5px 8%;">
    <h2>Courses</h2>
    <br />
    <br />
    <h3>Business Program</h3>
    <li>@Html.ActionLink("Lax", "IndexBus", "UploadFIleIT")</li>
</div>

