
@model List<string>

@using (Html.BeginForm("Index",
                        "Coordinator_upload_bus",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
<div style="margin: 0 auto;padding:5px 8%;">
    <h2>Basic File Upload</h2>
    <label for="file">Upload File: </label>
    <input type="file" name="file" id="file" />
    <br>
    <br>

    <input type="submit" value="Upload File" />
    <br>
    <br>
    @ViewBag.Message
    <br>
    Console.WriteLine("ABC");

    <h2>Documents List</h2>

    <table>
        <tr>
            <th>File Name</th>
            <th>Link</th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>@Model[i].ToString() </td>
                <td>@Html.ActionLink("Download", "Download5", new { FileName = @Model[i].ToString() }) </td>
            </tr>
        }
    </table>
</div>
}