
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header-title">
                        <h4 class="pull-left page-title">Sky Education Chart</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Charts</a></li>
                            <li class="active">Sky Education Chart</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <div class="row" style="padding:3%">
                <!-- BAR Chart -->
                <div class="col-lg-6">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">in 2021</h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-example" style="height: 300px"></div>
                        </div>
                    </div>
                </div> <!-- col -->
                <!--  Line Chart -->
                <div class="col-lg-6">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Line Chart</h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-line-example" style="height: 300px"></div>
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- End row-->


            <div class="row" style="padding:3%">

                <!-- Area Chart -->
                <div class="col-lg-6">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Area Chart</h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-example" style="height: 300px"></div>
                        </div>
                    </div>
                </div> <!-- col -->
                <!-- Donut Chart -->
                <div class="col-lg-6">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Total Chart</h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-example" style="height: 300px"></div>
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- End row-->

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2016 - 2020 © Xadmino.
    </footer>

</div>
