
@{
    ViewBag.Title = "Maps";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header-title">
                        <h4 class="pull-left page-title">Google Maps</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Xadmino</a></li>
                            <li><a href="#">Maps</a></li>
                            <li class="active">Google Maps</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Markers</h3>
                        </div>
                        <div class="panel-body">
                            <div id="gmaps-markers" class="gmaps"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Overlays</h3>
                        </div>
                        <div class="panel-body">
                            <div id="gmaps-overlay" class="gmaps"></div>
                        </div>
                    </div>
                </div>
            </div>

           

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2021 © Sky education
    </footer>

</div>

